apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: magento-shared-pvc
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ .Values.sharedStorage.size }}"
